.jumbotron {
 border: 1px solid lightgray;
}
.welcome {
text-align: center;
}
.container{
  border: 1px solid gray;
}
img{
  width: 60px;
  float: left;
}
.custom-jumbo{
  background-color: aqua;
}
.custom-jumbo2{
  background-color: lightblue;
}
.col-6{
  border: 1px solid gray;
}